<p id="notice"><%= notice %></p>

<%= react_component('Header', props=@project ) %>

<%= react_component('Content', props=@project ) %>


<!-- <%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> -->
